/* Contenedor principal (ya definido) */
.container {
    width: 90%;
    height: 87vh;
     top: 6vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 10;
  }

  .slide2{
    background-color: white;
  }

  .photo-img {
    aspect-ratio: 41 / 19;
    width: 100%;
    object-fit: cover;
  }
  
  .welcome {
    position: absolute;
    background: rgb(233 222 222 / 20%);
    color: white;
    width: 46%;
    margin: 0vh 43vw 0 0;
    height: 75vh;
  }
  
  .saludo {
    background: transparent;
    color: white;
    padding: 59px;
    text-align: justify;
    width: 100%;
  }
  
  .saludo h2 {
    background: transparent;
    font-size: 32px;

  }
  
  .saludo h4 {
    background: transparent;
    font-size: 20px;
    margin-top: 23px;
  }
  
  .saludo h5 {
        display: inline-flex;
        align-items: center;
        font-size: 28px;
        background: transparent;
        margin-bottom: 10px;
  }
  
  h5::before {
    content: '';
    width: 80px;
    border-bottom: 4px solid rgb(255, 255, 255);
    margin-right: 50px;
  }
  
  /* Estilos para el slider */
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  

  .swiper-wrapper {
    display: flex;
    position: absolute;
  }
  
  /* Posicionamiento de las flechas de navegación (botones) en la parte inferior derecha */
  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    position: absolute;
    bottom: 20px;
    top: auto;
  }
  
  .swiper-button-next {
    right: 10px;
  }
  
  .swiper-button-prev {
    right: 50px;
  }
  
  /* Estilos para la paginación en círculos (bullets) en la parte inferior derecha */
  .swiper-pagination {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: auto;
    display: flex;
    gap: 12px;
    width: 20%;
    justify-content: center;
    height: 53px;
    align-items: center;
  }
  
  .swiper-pagination-bullet {
    background-color: white;
    opacity: 0.7;
    width: 50px;
    height: 10px;
    border-radius: 12px;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff;
  }
  .custom-nav {
    position: absolute;
    bottom: -3px;
    z-index: 20;
    cursor: pointer;
  }
  
  .text1{
    height: auto;
    top: 33vw;
  }

  .text2{
    color: black;
  }
  .prev-nav {
    right: 17vw;
  }
  
  .next-nav {
    right: 1vw;
  }